/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2017, 1:00:15 PM
    Author     : 523989
*/

#login{margin: 0 auto}
.buying-qty{width: 50px; margin-right: 10px;}
.buy-now.btn{padding: 3px 12px!important;}
header{
    margin: 50px 0;
    text-align: center;
}
header img{
    text-align: center;
    width: 250px;    
}
footer{
    text-align: center;
    margin: 50px 0 100px;
    color: #999;
}

.required{
    padding-left: 10px; 
    color: #c7053d;
}


